<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Smart India Hackathon</title>
    <link rel="stylesheet" href="coursevideo.css">
    <link rel="stylesheet" href="home.css">

</head>
<body>
    <header class="header">
   
        <section class="flex">
     
           <a href="home" class="logo">Elite Six</a>
     
           <form action="search" method="post" class="search-form">
              <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
              <button type="submit" class="fas fa-search"></button>
           </form>
           <div class="google_translate_option" id="google_translate_element"></div>

           <div class="icons">
              <div id="menu-btn" class="fas fa-bars"></div>
              <div id="search-btn" class="fas fa-search"></div>
              <div id="user-btn" class="fas fa-user"></div>
              <div id="toggle-btn" class="fas fa-sun"></div>
           </div>
     
           <div class="profile">
              <img src="Images/Student profile.png" class="image" alt="">
              <h3 class="name">Harsha</h3>
              <p class="role">Student</p>
              <a href="profile" class="btn">View Profile</a>
              <div class="flex-btn">
                 <a href="first" class="option-btn">Logout</a>
              </div>
           </div>
     
        </section>
     
     </header>   
     
     <div class="side-bar">
     
        <div id="close-btn">
           <i class="fas fa-times"></i>
        </div>
     
        <div class="profile">
           <img src="Images/Student profile.png" class="image" alt="">
           <h3 class="name">Harsha</h3>
           <p class="role">Student</p>
           <a href="profile" class="btn">view profile</a>
        </div>
     
        <nav class="navbar">
           <a href="dashboard"><i class="fas fa-home"></i><span>Dashboard</span></a>
           <a href="courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
           <a href="studymaterials"><i class="fas fa-book"></i><span>Study Materials</span></a>
           <a href="teacherprofile"><i class="fas fa-chalkboard-user"></i><span>Mentor Details</span></a>
           <a href="communication"><i class="fas fa-address-book"></i><span>Communication</span></a>
           <a href="loans"><i class="fa fa-university" aria-hidden="true"></i><span>Loans and Grants</span></a>              
           <a href="help"><i class="fas fa-info"></i><span>Help</span></a>
          </nav>
     </div>
<section>

    <section class="crs">
        <h1 class="head">Web Designing</h1>
        <p>This course comprises 5 audio-video spoken tutorials, using which you can self-learn Web Designing with ease. </p>
        <button class="btnn">Enroll</button>
        <h3>Students Enrolled : 1963</h3>
     </section>
     <div class="content">
        <h4 class="about">About Course </h4>
        <div class="video-container">
            <iframe preload="none" id="video1" width="50%" height="400px;"class="video" src="./Images/English in a Minute_ Party Animal.mp4" frameborder="0" allow="accelerometer"></iframe>
        </div>

        <div class="inf-content">
            <p>This course offer a comprehensive learning experience in the art and science of creating visually appealing and functional websites. The course equip individuals with the necessary skills to design and develop websites that effectively communicate a message or provide a service. </p>
            <p>Students delve into topics such as HTML/CSS coding, user interface (UI) and user experience (UX) design principles, and responsive design techniques to ensure compatibility across various devices. They learn to master design tools, graphic editing software, and content management systems (CMS) that are essential for creating compelling web interfaces.</p>
            <h3>Additionally,</h3>
            <ul>
                <li>This course often emphasize the importance of creativity, user-centricity, and staying updated with industry trends.</li>
                <li> Practical exercises and hands-on projects enable students to apply their knowledge in real-world scenarios, honing their abilities to craft engaging and user-friendly web experiences.</li>
                <li>Whether aspiring to become freelance designers, join creative agencies, or enhance their digital marketing skills, this course will provide a solid foundation for individuals looking to thrive in the dynamic and ever-evolving field of web design.</li>
            </ul>
        </div>
    </div>

</section>

     <script>

        let toggleBtn = document.getElementById('toggle-btn');
        let body = document.body;
        let darkMode = localStorage.getItem('dark-mode');
        
        const enableDarkMode = () =>{
           toggleBtn.classList.replace('fa-sun', 'fa-moon');
           body.classList.add('dark');
           localStorage.setItem('dark-mode', 'enabled');
        }
        
        const disableDarkMode = () =>{
           toggleBtn.classList.replace('fa-moon', 'fa-sun');
           body.classList.remove('dark');
           localStorage.setItem('dark-mode', 'disabled');
        }
        
        if(darkMode === 'enabled'){
           enableDarkMode();
        }
        
        toggleBtn.onclick = (e) =>{
           darkMode = localStorage.getItem('dark-mode');
           if(darkMode === 'disabled'){
              enableDarkMode();
           }else{
              disableDarkMode();
           }
        }
        
        let profile = document.querySelector('.header .flex .profile');
        
        document.querySelector('#user-btn').onclick = () =>{
           profile.classList.toggle('active');
           search.classList.remove('active');
        }
        
        let search = document.querySelector('.header .flex .search-form');
        
        document.querySelector('#search-btn').onclick = () =>{
           search.classList.toggle('active');
           profile.classList.remove('active');
        }
        
        let sideBar = document.querySelector('.side-bar');
        
        document.querySelector('#menu-btn').onclick = () =>{
           sideBar.classList.toggle('active');
           body.classList.toggle('active');
        }
        
        document.querySelector('#close-btn').onclick = () =>{
           sideBar.classList.remove('active');
           body.classList.remove('active');
        }
        
        window.onscroll = () =>{
           profile.classList.remove('active');
           search.classList.remove('active');
        
           if(window.innerWidth < 1200){
              sideBar.classList.remove('active');
              body.classList.remove('active');
           }
        }
        
        </script>
</body>
</html>