<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
      <link rel="stylesheet" href="loans.css">
      <link rel="stylesheet" href="home.css">
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <link rel="stylesheet" href="swiper.css">
      
    </head>
    <body>
        <header class="header">
   
            <section class="flex">
         
               <a href="home" class="logo">Elite Six</a>
         
               <form action="search" method="post" class="search-form">
                  <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
                  <button type="submit" class="fas fa-search"></button>
               </form>
               <div class="google_translate_option" id="google_translate_element"></div>

               <div class="icons">
                  <div id="menu-btn" class="fas fa-bars"></div>
                  <div id="search-btn" class="fas fa-search"></div>
                  <div id="user-btn" class="fas fa-user"></div>
                  <div id="toggle-btn" class="fas fa-sun"></div>
               </div>
         
               <div class="profile">
                  <img src="Images/student profile.png" class="image" alt="">
                  <h3 class="name">Harsha</h3>
                  <p class="role">student</p>
                  <a href="profile" class="btn">view profile</a>
                  <div class="flex-btn">
                     <a href="first" class="option-btn">logout</a>
                  </div>
               </div>
         
               </div>
         
            </section>
         
         </header>   
         
         <div class="side-bar">
         
            <div id="close-btn">
               <i class="fas fa-times"></i>
            </div>
         
            <div class="profile">
               <img src="Images/student profile.png" class="image" alt="">
               <h3 class="name">Harsha</h3>
               <p class="role">Student</p>
               <a href="profile" class="btn">view profile</a>
            </div>
         
            <nav class="navbar">
               <a href="dashboard"><i class="fas fa-home"></i><span>Dashboard</span></a>
               <a href="courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
               <a href="studymaterials"><i class="fas fa-book"></i><span>Study Materials</span></a>
               <a href="teacherprofile"><i class="fas fa-chalkboard-user"></i><span>Mentor Details</span></a>
               <a href="communication"><i class="fas fa-address-book"></i><span>Communication</span></a>
               <a href="loans"><i class="fa fa-university" aria-hidden="true"></i><span>Loans and Grants</span></a>              
               <a href="help"><i class="fas fa-info"></i><span>Help</span></a>
              </nav>
         

          </div>
          <h1 class="loan-header">Educational Loans</h1> 
          
          <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                           <img src="Images/student_loan.png">
                        </div>
                        <div class="card-content">
                           <h2 class="name2">Sbi Student Loan Scheme</h2>
                           <p class="description">A term loan granted to Indian Nationals for pursuing higher education in India or abroad.</p>
                           <a class="moreinfo-btn" href="https://sbi.co.in/web/personal-banking/loans/education-loans/scholar-loan-scheme" target="_blank">More information</a>
                           <a class="apply-btn" href="https://www.vidyalakshmi.co.in/Students/index" target="_blank">Apply</a>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                     <div class="image-content">
                        <img src="Images/education_loan_takeover_scheme.png">
                     </div>
                     <div class="card-content">
                        <h2 class="name2">HDFC Education Loan</h2>
                        <p class="description">Get up to Rs.150 lakhs as an education loan
      
                           Avail loans of up to Rs. 50 lakh without collateral for select Institutes</p>
                        <a class="moreinfo-btn" href="https://www.hdfcbank.com/personal/borrow/popular-loans/educational-loan/educational-loan-for-indian-education" target="_blank">More information</a>
                        <a class="apply-btn" href="https://www.vidyalakshmi.co.in/Students/index" target="_blank">Apply</a>
                     </div>
                 </div>
                    <div class="card swiper-slide">
                     <div class="image-content">
                        <img src="Images/student_loan.png">
                     </div>
                     <div class="card-content">
                        <h2 class="name2">Schloar Loan Scheme</h2>
                        <p class="description">Loans for IITs,NITs,IIMs</p>
                        <a class="moreinfo-btn" href="https://sbi.co.in/web/personal-banking/loans/education-loans/scholar-loan-scheme" target="_blank">More information</a>
                        <a class="apply-btn" href="https://www.vidyalakshmi.co.in/Students/index" target="_blank">Apply</a>
                     </div>
                 </div>
                    <div class="card swiper-slide">
                     <div class="image-content">
                        <img src="Images/skill_loan_scheme.png">
                     </div>
                     <div class="card-content">
                        <h2 class="name2">Skill Loan Scheme</h2>
                        <p class="description">Axis Bank provides Education Loans for students looking to study in India and abroad.</p>
                        <a class="moreinfo-btn" href="https://sbi.co.in/web/personal-banking/loans/education-loans/scholar-loan-scheme" target="_blank">More information</a>
                        <a class="apply-btn" href="https://www.vidyalakshmi.co.in/Students/index" target="_blank">Apply</a>
                     </div>
                 </div>
               </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
          <div class="schloarheader">
            <h3>Scholarships</h3>
           </div>
           <div class="sclrtable">
            <table>
               <thead>
                  <tr>
                     <th>S.No</th>
                     <th>Schloarship Schemes</th>
                     <th>Action</th>
                 </tr>
               </thead>
               
               <tr>
                   <td>1</td>
                   <td>Pre- Matric AP Scholarships</td>
                   <td><a class="eligible-btn" href="https://www.getmyuni.com/scholarships/ap-scholarship#:~:text=List%20of%20AP%20Scholarships%201%20Pre-%20Matric%20AP,...%208%20Santoor%20Women%27s%20Scholarship%20...%20More%20items" target="_blank">View Eligibility</a></td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>NTR Vidyonnathi Scheme</td>
                   <td class="ntg"><a class="eligible-btn" href="https://www.getmyuni.com/scholarships/ntr-vidyonnathi-scheme" target="_blank">View Eligibility</a></td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>Santoor Women's Scholarship</td>
                   <td><a class="eligible-btn" href="https://www.getmyuni.com/scholarships/santoor-scholarship#santoor-scholarship-eligibilty-criteria" target="_blank">View Eligibility</a></td>
               </tr>
               <tr>
                  <td>4</td>
                  <td>Vidhyadhan AP Scholarship</td>
                  <td><a class="eligible-btn" href="https://www.getmyuni.com/scholarships/vidyadhan-scholarship" target="_blank">View Eligibility</a></td>
              </tr>
              <tr>
                  <td>5</td>
                  <td>NTSE Scholarship</td>
                  <td><a class="eligible-btn" href="https://www.learncbse.in/ntse-scholarship/" target="_blank">View Eligibility</a></td>
               </tr>
           </table>
           </div>
                
           <script>
            function googleTranslateElementInit() {
           new google.translate.TranslateElement({
             pageLanguage: 'en', // Default page language
             includedLanguages: 'en,hi,ml,mr,ta,te,ur', // List of supported languages
             autoDisplay: false, // Disable automatic translation display
           }, 'google_translate_element');
         }
         
         </script>
        <!-- Nav Bar JavaScript   -->

          <script>

            let toggleBtn = document.getElementById('toggle-btn');
            let body = document.body;
            let darkMode = localStorage.getItem('dark-mode');
            
            const enableDarkMode = () =>{
               toggleBtn.classList.replace('fa-sun', 'fa-moon');
               body.classList.add('dark');
               localStorage.setItem('dark-mode', 'enabled');
            }
            
            const disableDarkMode = () =>{
               toggleBtn.classList.replace('fa-moon', 'fa-sun');
               body.classList.remove('dark');
               localStorage.setItem('dark-mode', 'disabled');
            }
            
            if(darkMode === 'enabled'){
               enableDarkMode();
            }
            
            toggleBtn.onclick = (e) =>{
               darkMode = localStorage.getItem('dark-mode');
               if(darkMode === 'disabled'){
                  enableDarkMode();
               }else{
                  disableDarkMode();
               }
            }
            
            let profile = document.querySelector('.header .flex .profile');
            
            document.querySelector('#user-btn').onclick = () =>{
               profile.classList.toggle('active');
               search.classList.remove('active');
            }
            
            let search = document.querySelector('.header .flex .search-form');
            
            document.querySelector('#search-btn').onclick = () =>{
               search.classList.toggle('active');
               profile.classList.remove('active');
            }
            
            let sideBar = document.querySelector('.side-bar');
            
            document.querySelector('#menu-btn').onclick = () =>{
               sideBar.classList.toggle('active');
               body.classList.toggle('active');
            }
            
            document.querySelector('#close-btn').onclick = () =>{
               sideBar.classList.remove('active');
               body.classList.remove('active');
            }
            
            window.onscroll = () =>{
               profile.classList.remove('active');
               search.classList.remove('active');
            
               if(window.innerWidth < 1200){
                  sideBar.classList.remove('active');
                  body.classList.remove('active');
               }
            }
            
            </script>
            
    <!--**********Swiper JS ***************  -->
            <script src="swiperjs.js"></script>
   
   <!-- loans JavaScript -->         
            
            <script>
               var swiper = new Swiper(".slide-content", {
               slidesPerView: 3,
               spaceBetween: 25,
               loop: true,
               centerSlide: 'true',
               fade: 'true',
               grabCursor: 'true',
               pagination: {
               el: ".swiper-pagination",
               clickable: true,
               dynamicBullets: true,
               },
               navigation: {
                  nextEl: ".swiper-button-next",
                  prevEl: ".swiper-button-prev",
               },

               breakpoints:{
                  0: {
                        slidesPerView: 1,
                  },
                  520: {
                        slidesPerView: 2,
                  },
                  950: {
                        slidesPerView: 3,
                  },
               },
            });
            </script>
            
   </body>
</html>