<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="mentor.css" />
  <title>Browser</title>
</head>

<body>
  <div class = "flex_box">
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #e9e7fd;">
        <div class="project-box-header">
          <span>September 1, 2023</span>
          
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">NCERT</p>
          <p class="box-content-subheader">Materials</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Progress</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 50%; background-color: #4f3ff0"></span>
          </div>
          <p class="box-progress-percentage">50%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <span><strong>Maths,Phy & Chem</strong></span>
            
          </div>
        </div>
      </div>
    </div>
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #eaffd3;">
        <div class="project-box-header">
          <span>September 1, 2023</span>
          
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">Aptitude</p>
          <p class="box-content-subheader">Material</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Progress</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 80%; background-color: #098624"></span>
          </div>
          <p class="box-progress-percentage">80%</p>
        </div>
            <span><strong>Numbers, Percentage</strong></span>
         </div>
    </div>
    <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #c5d8fa;">
            <div class="project-box-header">
              <span>September 1, 2023</span>
              <div class="more-wrapper">
              
          </div>
        </div>
        <div class="project-box-content-header">
          <p class="box-content-header">GATE</p>
          <p class="box-content-subheader">Materials</p>
        </div>
        <div class="box-progress-wrapper">
          <p class="box-progress-header">Progress</p>
          <div class="box-progress-bar">
            <span class="box-progress" style="width: 60%; background-color: #020101"></span>
          </div>
          <p class="box-progress-percentage">60%</p>
        </div>
        <div class="project-box-footer">
          <div class="participants">
            <span><strong>AE, AG, CE, CS, MA</strong></span>
          </div>
        </div>
      </div>
      
      
      
  </div>
   
    
</body>

</html>