<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <header class="header">
   
            <section class="flex">
         
               <a href="home" class="logo">Elite Six</a>
         
               <form action="search" method="post" class="search-form">
                  <input type="text" name="search_box" required placeholder="search courses..." maxlength="100">
                  <button type="submit" class="fas fa-search"></button>
               </form>
         
               <div class="icons">
                  <div id="menu-btn" class="fas fa-bars"></div>
                  <div id="search-btn" class="fas fa-search"></div>
                  <div id="user-btn" class="fas fa-user"></div>
                  <div id="toggle-btn" class="fas fa-sun"></div>
               </div>
         
               <div class="profile">
                  <img src="Images/student profile.png" class="image" alt="">
                  <h3 class="name">Harsha</h3>
                  <p class="role">Student</p>
                  <a href="profile" class="btn">View Profile</a>
                  <div class="flex-btn">
                     <a href="login" class="option-btn">Login</a>
                     <a href="register" class="option-btn">Register</a>
                  </div>
               </div>
         
            </section>
         
         </header>   
         
         <div class="side-bar">
         
            <div id="close-btn">
               <i class="fas fa-times"></i>
            </div>
         
            <div class="profile">
               <img src="Images/student profile.png" class="image" alt="">
               <h3 class="name">Harsha</h3>
               <p class="role">Student</p>
               <a href="profile" class="btn">view profile</a>
            </div>
         
            <nav class="navbar">
               <a href="dashboard"><i class="fas fa-home"></i><span>Dashboard</span></a>
               <a href="courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
               <a href="studymaterials"><i class="fas fa-book"></i><span>Study Materials</span></a>
               <a href="teacherprofile"><i class="fas fa-chalkboard-user"></i><span>Mentor Details</span></a>
               <a href="communication"><i class="fas fa-address-book"></i><span>Communication</span></a>
               <a href="loans"><i class="fa fa-university" aria-hidden="true"></i><span>Loans and Grants</span></a>              
               <a href="help"><i class="fas fa-info"></i><span>Help</span></a>
              </nav>
         </div>

        <section class="teachers">

            <h1 class="heading">expert teachers</h1>
         
          
         
            <div class="box-container">
         
               <div class="box offer">
                  <h3>become a tutor</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque ipsam fuga ex et aliquam.</p>
                  <a href="register" class="inline-btn">get started</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
               <div class="box">
                  <div class="tutor">
                     <img src="Images/mentor 1.png" alt="">
                     <div>
                        <h3>john deo</h3>
                        <span>developer</span>
                     </div>
                  </div>
                  <p>total playlists : <span>4</span></p>
                  <p>total videos : <span>18</span></p>
                  <p>total likes : <span>1208</span></p>
                  <a href="teacherprofile" class="inline-btn">view profile</a>
               </div>
         
            </div>
         
         </section>

         <script>

            let toggleBtn = document.getElementById('toggle-btn');
            let body = document.body;
            let darkMode = localStorage.getItem('dark-mode');
            
            const enableDarkMode = () =>{
               toggleBtn.classList.replace('fa-sun', 'fa-moon');
               body.classList.add('dark');
               localStorage.setItem('dark-mode', 'enabled');
            }
            
            const disableDarkMode = () =>{
               toggleBtn.classList.replace('fa-moon', 'fa-sun');
               body.classList.remove('dark');
               localStorage.setItem('dark-mode', 'disabled');
            }
            
            if(darkMode === 'enabled'){
               enableDarkMode();
            }
            
            toggleBtn.onclick = (e) =>{
               darkMode = localStorage.getItem('dark-mode');
               if(darkMode === 'disabled'){
                  enableDarkMode();
               }else{
                  disableDarkMode();
               }
            }
            
            let profile = document.querySelector('.header .flex .profile');
            
            document.querySelector('#user-btn').onclick = () =>{
               profile.classList.toggle('active');
               search.classList.remove('active');
            }
            
            let search = document.querySelector('.header .flex .search-form');
            
            document.querySelector('#search-btn').onclick = () =>{
               search.classList.toggle('active');
               profile.classList.remove('active');
            }
            
            let sideBar = document.querySelector('.side-bar');
            
            document.querySelector('#menu-btn').onclick = () =>{
               sideBar.classList.toggle('active');
               body.classList.toggle('active');
            }
            
            document.querySelector('#close-btn').onclick = () =>{
               sideBar.classList.remove('active');
               body.classList.remove('active');
            }
            
            window.onscroll = () =>{
               profile.classList.remove('active');
               search.classList.remove('active');
            
               if(window.innerWidth < 1200){
                  sideBar.classList.remove('active');
                  body.classList.remove('active');
               }
            }
            
            </script>
    </body>
</html>