<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boxicons/css/boxicons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="newlogin.css">
    <title>Student login</title>
</head>
<body>
 <div class="wrapper">
    <nav class="header">
        <div class="left-section">
          <div class="left-section-image"><img src="Images/logo.png"></div>
        </div>
        <div class="right-section">
          <div class="home-button"><p><a href="first.html">Home</a></p></div>
          <div class="login-header-button"><p><a style="text-decoration: none;" href="first.html">Login</a></p></div>
          </div>
      </nav>

   
        

<!----------------------------- Form box ----------------------------------->    
    <div class="form-box">
        
        <!------------------- login form -------------------------->
        <div class="login-container" id="login">
            
            <div class="top">
                <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
                <header>Login</header>
            </div>
            <form method="post" action="/studentlogin" id="login-form">
            <div class="input-box">
                <input name="Email" type="text" class="input-field" id="email" placeholder="email" fdprocessdid="''">
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input name="Password" type="password" id="password" class="input-field" placeholder="password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div  class="valid-message" id="message"> <%= message %></div>

            <div class="input-box">
                <input id="sign-in" type="submit" class="submit" value="Sign In">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
            </form>
        </div>
        <!------------------- registration form -------------------------->
        <div class="register-container" id="register">
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <form method="post" action="/stdregistration">
            <div class="two-forms">
                <div class="input-box">
                    <input name="fname" type="text" class="input-field" placeholder="Firstname">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input name="lname" type="text" class="input-field" placeholder="Lastname">
                    <i class="bx bx-user"></i>
                </div>
            </div>
            <div class="input-box">
                <input name="email" type="text" class="input-field" placeholder="Email">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input name="mobile" type="text" class="input-field" placeholder="Mobile Number">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input name="classno" type="text" class="input-field" placeholder="Class Number Ex:5">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input name="password" type="password" class="input-field" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input id="registerel" type="submit" class="submit" value="Register">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="register-check">
                    <label for="register-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Terms & conditions</a></label>
                </div>
            </div>
            </form>
        </div>

    </div>

</div>   

<script>
    const loginButton = document.getElementById('sign-in');
    loginButton.addEventListener('click', () => {
      window.location = '/profile'; // Redirect to the login page
    });
  </script>
<script>
   
   function myMenuFunction() {
    var i = document.getElementById("navMenu");
    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
   
</script>
<script>
    let registerel = document.getElementById("registerel");
    var a = document.getElementById("loginBtn");
    var b = document.getElementById("registerBtn");
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    function login() {
        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
    }
    function register() {
        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
    }
    registerel.onclick = function(){
        window.location = "dashboard.html";
            }
</script>
</body>
</html>