<!DOCTYPE html>
<html>
<head>
  <title>SIH 2023</title>
  
  <link rel="stylesheet" href="first.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  
<nav class="header">
  <div class="left-section">
    <div class="left-section-image"><img src="Images/logo.png"></div>
  </div>
  <div class="right-section">
    <div class="home-button"><a  style="text-decoration: none;" href="home.html">Home</a></div>
    <div class="login-button"><a  style="text-decoration: none;">About</a></div>
    <div class="login-header-button"><a  style="text-decoration: none;">Login</a></div>
    </div>
</nav>

<div class="login-containers">
<div class="student-container">
  <div>
    <img src="Images/png-clipart-time-student-recruitment-learning-professional-others-service-vector-icons-thumbnail.png">
  </div>
  <p>Student</p><a href="newlogin.html">
  <button>Login / Signup</button>
  </a>
</div>
<div class="mentor-container">
  <div>
    <img src="Images/mentor 1.png">
  </div>
  
  <p>Mentor</p><a  href="mentorlogin.html">
  <button>Login / Signup</button>
  </a>
</div>
<div class="public-container">
  <div>
    <img  src="Images/public.png">
  </div>
  <p>Public</p><a href="/public/jobs.html">
  <button>Login / Signup</button>
  </a>
</div>
</div>
  
</body>
</html>