<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="mentorlogin.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 
</head>
<body>
    <div class="container">
        <header>Registration</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" placeholder="Enter your ccupation" required>
                        </div>
                    </div>
                </div>
                <div class="details address">
                    <span class="title">Address Details</span>

                    <div class="fields">

                        <div class="input-field">
                            <label>Nationality</label>
                            <input type="text" placeholder="Enter nationality" required>
                        </div>

                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="Enter your state" required>
                        </div>

                        <div class="input-field">
                            <label>District</label>
                            <input type="text" placeholder="Enter your district" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title"> Education Qualifications</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Qualification-1</label>
                            <input type="file" required>
                        </div>

                        <div class="input-field">
                            <label>Qualification-2</label>
                            <input type="file" class="upload" placeholder="Enter ID number" required>
                        </div>

                        <div class="input-field">
                            <label>Experience</label>
                            <input type="text" class="upload" placeholder="Enter your Experience(years)" required>
                        </div>
                    </div>

                    
                </div> 
                <div class="submit-btn">
                    <button onclick="submmision()" class="sumbit">
                        <span class="btnText">Submit</span>
                    </button>

                </div>
            </div>

            
        
        </form>
    </div>

    <script>
        function submmision(){
            alert('Registered Sucessfully')
        }
    </script>
</body>
</html>