<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../jobs.css">
    </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-html5 icon'></i>
        <div class="logo_name">Jobs</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      
      <li>
        <a href="mentordashboard.html">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Available</span>
        </a>
         <span class="tooltip">Available</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">My Profile</span>
       </a>
       <span class="tooltip">My Profile</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Messages</span>
       </a>
       <span class="tooltip">Messages</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Analytics</span>
       </a>
       <span class="tooltip">Analytics</span>
     </li>
     
     
     
     <li class="profile">
         <div class="profile-details">
           <img src=""C:\Users\chandra shekhar\OneDrive\Desktop\documents\Avinasha\Images\mentor 1.png"" alt="profileImg">
           <div class="name_job">
             <div class="name">Virat Kohli</div>
             <div class="job">Web designer</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="container3">
        <div class="left">
            <section>
                <div class="jobcard">
                    <div class="jobdetails">
                        <div class="img">
                            <i class="fab fa-google"></i>
                        </div>
                        <div class="jobdescription">
                            <h2> Google </h2>
                            <span>Data Science, Data Engineer</span>
                            <p>Location: Hyderabad</p>
                            <p>Job role: Fulltime</p>

                        </div>
                    </div>
                    <div class="jobsalary">
                        <p>Role</p>
                        <a href="#">data enginer</a>
                        <p>350k /yr</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="jobcard">
                    <div class="jobdetails">
                        <div class="img">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="jobdescription">
                            <h2> Twitter </h2>
                            <span>Senior executive</span>
                            <p>Location: Banglore</p>
                            <p>Jobrole:Intern</p>

                        </div>
                    </div>
                    <div class="jobsalary">
                        <p>Role</p>
                        <a href="#">ML engineer</a>
                        <p>50k/month</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="jobcard">
                    <div class="jobdetails">
                        <div class="img">
                            <i class="fab fa-youtube"></i>
                        </div>
                        <div class="jobdescription">
                            <h2> Youtube</h2>
                            <span>Senior Software Engineer</span>
                            <p>Location: Mumbai</p>
                            <p>Jobrole:Fulltime and Intern</p>

                        </div>
                    </div>
                    <div class="jobsalary">
                        <p>Role</p>
                        <a href="#">data enginer</a>
                        <p>600k /yr</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="jobcard">
                    <div class="jobdetails">
                        <div class="img">
                            <i class="fab fa-tiktok"></i>
                        </div>
                        <div class="jobdescription">
                            <h2> Tiktok</h2>
                            <span>Data analyst,product analyst</span>
                            <p>Location: Hyderabad</p>
                            <p>Jobrole:Intern</p>

                        </div>
                    </div>
                    <div class="jobsalary">
                        <p>Role</p>
                        <a href="#">data science</a>
                        <p>30k/ month</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="jobcard">
                    <div class="jobdetails">
                        <div class="img">
                            <i class="fab fa-google-drive"></i>
                        </div>
                        <div class="jobdescription">
                            <h2> Google drive </h2>
                            <span>Data Science, Data Engineer</span>
                            <p>Location: Chennai</p>
                            <p>Job role:Fulltime</p>

                        </div>
                    </div>
                    <div class="jobsalary">
                        <p>Role</p>
                        <a href="#">data enginer</a>
                        <p>750k /yr</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="right">

            <h3 class="h">GOOGLE</h3>
            <h4 class="h4">--------------------</h4>
            <h4 class="h4">Aboutcompany:</h4>
            <p>Our team helps customers transform their IT organizations to build and operate modern, cloud native applications using Google Cloud’s products and services, and ensures that customers are able to maximize their investments.

                As a Consulting Account Lead, you will partner with our customer’s technical and business executive leadership team to help with value realization, automate Application Development, and enable them to develop better solutions, faster, and deliver innovation to their end users.</p>

            <p>You will work with the account team to identify opportunities for partnership and to expand their use of Google Cloud products.</p>
            <p> You'll focus on driving customer loyalty, ensuring Google Cloud value is continually being realized, and partner with customer technical executives to identify opportunities to drive innovation into their service offerings with Google Cloud.</p>
            <h4 class="h4">-----------------------------</h4>
            <h4 class="h4">Minimum qualifications:</h4>
            <p>Bachelor's degree or equivalent practical experience in survey research, statistics, sociology, psychology or relevant work.
            <p> 6 years of research experience, in survey research and tracking.</p>
            <p> Experience with statistics, questionnaire design, sample design, missing data/imputation, non-response, and online panels.</p>
            <p>Experience with R, SPSS, SQL, and longitudinal data, time series analysis, and causal methods.</p>
            <a href="#">read more</a>
            <div class="buttons">
                <button class="applybutton">apply</button>
                <button class="savebutton">savejob</button>
            </div>
        </div>
    </div>
      </section>
     
      <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");
        sidebar.classList.add("open");
        closeBtn.addEventListener("click", ()=>{
          sidebar.classList.toggle("open");
          menuBtnChange();//calling the function(optional)
        });
      
        searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
          sidebar.classList.toggle("open");
          menuBtnChange(); //calling the function(optional)
        });
      
        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
         if(sidebar.classList.contains("open")){
           closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
         }else {
           closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
         }
        }
        </script>
    
</body>
</html>
      